<style>
    .custom-image-height {
        max-height: 600px; 
        object-fit: cover; 
    }
   
</style>

    
<div class="container-fluid px-0 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">
        <div class="carousel-inner">
            <% bannerData.forEach((banner, index) => { %>
                <% if(banner.status==0){ %>
            <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                <img class="w-100 custom-image-height" src="<%=banner.bannerImage%>" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 text-center">
                                <p class="fs-4 text-dark animated zoomIn">Welcome to <span>FloraFusion</span> </p>
                                <h1 class="display-1 text-dark mb-4 animated zoomIn" ><%= banner.title %></h1>
                                <a href="/products" class="btn btn-light rounded-pill py-3 px-5 animated zoomIn">Explore More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
            <% }); %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
