<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>404 </title>
	<link href="https://fonts.googleapis.com/css?family=Nunito:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="/public/css1/style.css" />

</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404"></div>
			<h1 style="text-align: center; margin-top: 250px;">404</h1>
			<h2 style="text-align: center;">Oops! Page Not Be Found</h2>
			<a style="margin-left: 700px; text-decoration: none; color: black;" href="/" onmouseover="this.style.color='green'" onmouseout="this.style.color='black'">Back to homepage</a>
		</div>
	</div>

</body>
</html>
