<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/3778c8a034.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600|Open+Sans:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
    <script src="./js/chart-js-config.js"></script>
    <title>FloraFusion Admin</title>
</head>
<body>
    <div class="dash">
        <div class="dash-nav" style="background-color: #0e382c;">
            <header>
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <a href="" class="easion-logo" style="color: white; font-weight: bolder;"><i class="fas fa-sun"></i> <span>FloraFusion</span></a>                
            </header>
            <nav class="dash-nav-list">
                <div>
                    <a href="/admin" class="dash-nav-item" style="color: white; font-weight: bold;">
                        <i class="fas fa-home"></i> Dashboard </a>
                </div>                
                    <div>
                        <a href="/admin/viewUser" class="dash-nav-item" style="color: white; font-weight: bolde;">
                            <i class="fa-solid fa-user" style="color: #ffffff;"></i>Users</a>
                    </div>
                    <div>
                        <a href="/admin/viewProducts" class="dash-nav-item" style="color: white; font-weight: bolde;">
                            <i class="fa-solid fa-book" style="color: #ffffff;"></i></i>Products</a>
                    </div>
                <div>
                    <a href="/admin/viewCategory" class="dash-nav-item" style="color: white; font-weight: bolde;">
                        <i class="fa-solid fa-list-check" style="color: #ffffff;"></i>Category</a>
                </div>
                <div>
                    <a href="/admin/viewCoupons" class="dash-nav-item" style="color: white; font-weight: bolde;">
                        <i class="fa-solid fa-ticket" style="color: #ffffff;"></i>Coupon</a>
                </div>
                <div>
                    <a href="/admin/viewBanner" class="dash-nav-item" style="color: white; font-weight: bolde;">
                        <i class="fa-solid fa-bookmark" style="color: #ffffff;"></i>Banner</a>
                </div>
                <div>
                    <a href="/admin/viewOrders" class="dash-nav-item" style="color: white; font-weight: bolde;">
                        <i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i>Order</a>
                </div>
                <div>
                    <a href="/admin/viewSalesReport" class="dash-nav-item" style="color: white; font-weight: bolde;">
                        <i  class="fas fa-chart-line" style="color: #ffffff;"></i>Sales Report</a>
                </div>
                <div>
                    <a href="/admin/viewBestProducts" class="dash-nav-item" style="color: white; font-weight: bolde;">
                        <i  class="fas fa-star" style="color: #ffffff;"></i>Best Products</a>
                </div>
                <div>
                    <a href="/admin/viewBestCategory" class="dash-nav-item" style="color: white; font-weight: bolde;">
                        <i  class="fas fa-star" style="color: #ffffff;"></i>Best Categories</a>
                </div>
            </nav>
        </div>
        <div class="dash-app">
            <header class="dash-toolbar">
                <a href="#!" class="menu-toggle">
                    <i class="fas fa-bars"></i>
                </a>
                <h1>Admin Panel</h1>
                <div class="tools">
                    <a href="#!" class="tools-item">
                        <i class="fas fa-bell"></i>
                        <i class="tools-item-count">4</i>
                    </a>
                    <div class="dropdown tools-item">
                        <a href="#" class="" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="#!">Profile</a>
                            <a class="dropdown-item" href="/admin/logout">Logout</a>
                        </div>
                    </div>
                </div>
            </header>
            <main class="dash-content">
                <div class="container-fluid">